<div class="p-4 bg-header text-white shadow-lg tracking-wider mb-5 relative z-10">
    <h1 class="text-3xl">Pacientes</h1>
</div>

<form #frm="ngForm">
    <div class="flex justify-center mb-5">
        <div class="w-[80%] flex flex-col md:flex-row items-center justify-center gap-4">
            
            <input type="text" placeholder="Pesquise pelo nome do paciente"
                    name="lugarFiltrado"
                    [(ngModel)]="patientFiltered"
                    autofocus
                    (keyup.enter)="filter()"
                    class="w-full p-3 border border-slate-300 shadow-sm rounded focus:ring focus:ring-blue-400">
            
            <button type="button" (click)="filter()" class="bg-blue-600 text-white px-4 py-3 hover:bg-blue-800 rounded w-40 flex items-center justify-center gap-2 transition-colors">
                <mat-icon fontIcon="search" class="text-white"></mat-icon> Pesquisar
            </button>
            <button type="button" (click)="openDialog()" class="bg-green-600 text-white px-4 py-3 hover:bg-green-800 rounded w-40 flex items-center justify-center gap-2 transition-colors">
                <mat-icon fontIcon="add" class="text-white"></mat-icon> Adicionar
            </button>
        </div>
    </div>
</form>

<div class="flex justify-center">
    <mat-card appearance="outlined" class="w-[80%] !bg-white !border-slate-300 !rounded">
        <mat-card-header>
            <mat-card-title>Resultado</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="patients" class="!bg-white">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let patient"> {{patient.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let patient"> {{patient.name}} </td>
                </ng-container>

                <ng-container matColumnDef="cpf">
                    <th mat-header-cell *matHeaderCellDef> CPF </th>
                    <td mat-cell *matCellDef="let patient"> {{patient.cpf}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> E-mail </th>
                    <td mat-cell *matCellDef="let patient"> {{patient.email}} </td>
                </ng-container>

                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef> Telefone </th>
                    <td mat-cell *matCellDef="let patient"> {{patient.phoneNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let patient"> 
                        <div class="flex items-center gap-2">
                            <button mat-button (click)="openDialog(patient)" class="!flex !items-center gap-1 hover:!text-yellow-600 transition-colors duration-200">
                                <mat-icon fontIcon="edit"></mat-icon> Editar
                            </button>
                            <button mat-button (click)="stageDelete(patient)" class="!flex !items-center gap-1 hover:!text-red-600 transition-colors duration-200">
                                <mat-icon fontIcon="delete"></mat-icon> Deletar
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
