<header class="relative z-10 bg-white shadow-lg flex items-center py-6 px-8">
  <a routerLink="/dashboard" class="text-3xl font-logo uppercase font-semibold text-dark-navy hover:text-light-teal transition-colors">
    CLEANIC
  </a>
</header>

<div class="flex h-[calc(100vh-84px)] bg-white">
  <aside class="w-64 flex flex-col">
    <mat-nav-list class="relative z-9 flex-1 bg-white shadow-lg">
      <a mat-list-item class="border-matlistitem" routerLink="/dashboard" routerLinkActive="router-active">
        <mat-icon matListItemIcon class="material-symbols-outlined">home</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      
      <a mat-list-item class="border-matlistitem" routerLink="/appointments" routerLinkActive="router-active">
        <mat-icon matListItemIcon class="material-symbols-outlined">calendar_today</mat-icon>
        <span matListItemTitle>Consultas</span>
      </a>
      
      <a mat-list-item class="border-matlistitem" routerLink="/patients" routerLinkActive="router-active">
        <mat-icon matListItemIcon class="material-symbols-outlined">person_heart</mat-icon>
        <span matListItemTitle>Pacientes</span>
      </a>
      
      <a mat-list-item class="border-matlistitem" routerLink="/dentists" routerLinkActive="router-active">
        <mat-icon matListItemIcon class="material-symbols-outlined">dentistry</mat-icon>        
        <span matListItemTitle>Dentistas</span>
      </a>
      
      <a mat-list-item class="border-matlistitem" routerLink="/specialties" routerLinkActive="router-active">
        <mat-icon matListItemIcon class="material-symbols-outlined">medical_services</mat-icon>
        <span matListItemTitle>Especialidades</span>
      </a>

      <a mat-list-item class="border-matlistitem" routerLink="/reports" routerLinkActive="router-active">
        <mat-icon matListItemIcon class="material-symbols-outlined">lab_profile</mat-icon>
        <span matListItemTitle>Relatórios</span>
      </a>
      
      <a mat-list-item class="border-matlistitem" routerLink="/users" routerLinkActive="router-active">
        <mat-icon matListItemIcon class="material-symbols-outlined">supervisor_account</mat-icon>
        <span matListItemTitle>Usuários</span>
      </a>
    </mat-nav-list>
    
    <div class="flex">
      <div class="p-4 flex items-center gap-3">
        <mat-icon class="text-green-400" aria-hidden="false">verified_user</mat-icon>
        <span class="text-sm text-gray-800">Admin Logado</span>
      </div>
      <button class="logout-btn text-md px-6 m-2" (click)="logout()">Sair</button>
    </div>
  </aside>

  <main class="flex-1 flex flex-col overflow-hidden">
    <div class="flex-1 overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
