.font-logo {
  font-family: "Montserrat", sans-serif;
}

.router-active {
  background-color: #e7e7e7;
  color: #4B9EA8 !important;
  border-radius: 0 !important;
  border-left: 4px solid #4B9EA8;
}

.router-active mat-icon {
  color: #4B9EA8;
}

.border-matlistitem {
  border-radius: 0 !important;
}

.logout-btn {
  background-color: #d91212;
  color: #FFF;
  border-radius: 10px;
  transition: 0.2s ease;
}

.logout-btn:hover {
  background-color: #ff2d2d;
}