<main class="h-screen">
    <div class="h-[calc(100%/2)] flex flex-col justify-end items-center bg-white">
        <div>
            <img src="assets/cleanic-logo.png" alt="Logo Cleanic" class="img-logo" />
        </div>
    </div>

    <div class="h-[calc(100%/2)] flex flex-col justify-top items-center bg-login">
        <div class="login-form mt-8">
            <form>
                <div class="flex">
                    <div class="login-form-icon">
                        <mat-icon fontIcon="mail"></mat-icon>
                    </div>
                    <input type="text" placeholder="Informe o e-mail">
                </div>
                <div class="flex">
                    <div class="login-form-icon">
                        <mat-icon fontIcon="key"></mat-icon>
                    </div>
                    <input type="text" placeholder="Informe a senha">
                </div>
                <div class="contact-form">
                    <input type="submit" class="login-form-btn" value="Login" />
                </div>
            </form>
        </div>
    </div>
</main>
